@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');
:root{
    --primary-dark : #1f2937;
    --primary-beige: #faf0dc;
}
body{
    background-color: var(--primary-dark);
    color: white;
    font-family: 'Comic Neue', cursive;
    font-size: larger;
}
h1{
    text-align: center;
    
    
}
.container{
    width:50%;
    margin: auto;
}
input,label{
    display: block;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
}
input{
    margin-bottom: 1.5rem;
    width: 100%;
    height: 1.5rem;
    border-radius: 0.5rem;

}
#check-number{
    display: block;
    margin-top: 1rem;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.8rem;
    font-family: 'Comic Neue', cursive;
    background-color: var(--primary-beige);
    color: var(--primary-dark);
    font-size: large;
    font-weight: bold;
    
}
#output-box{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}
.link{
    text-decoration:none;
    padding:0.5rem 1rem;
    color: var(--primary-beige);
}
.list-non-bullet{
    list-style:none;
}
.footer{
    margin-top: 14rem;
    padding-top:1rem;
    background-color: var(--primary-color);
    padding:2rem 1rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius:2rem;;
    text-align: center;
    color:var(--pink);
    
}
.footer .link{
    color: var(--primary-beige);
}
.footer .footer-header{
    
    font-size:1.2rem;

}
.footer .ul{
    padding-inline-start:0px;
    
}
.list-inline{
    display:inline;
    padding:0rem 1rem;
    color:#767771;
}